# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,vcpkg,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,vcpkg,cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Build Files ###
build/
/build/
/cmake-build-*/

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

### vcpkg ###
# Vcpkg

vcpkg-manifest-install.log

## Manifest Mode
vcpkg_installed/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,vcpkg,cmake
